<div class="flex max-h-full-screen">
  <div class="flex-[3] max-h-full-screen overflow-y-scroll pb-10">
    <div class="max-h-full-screen pr-[50px] flex flex-col gap-[50px] pb-[50px]">
      <!-- filter -->
      <app-filter></app-filter>

      <div class="flex flex-col gap-[50px] pb-10">
        <!-- cards -->
        @for (item of listData; track $index) {
        <app-property-card [item]="item"></app-property-card>
        }
      </div>
    </div>
  </div>

  <div
    class="hidden lg:flex-[2] max-h-full-screen bg-[#fcf5f3] lg:block overflow-hidden z-[1]"
  >
    <!-- map -->
    <app-map [items]="listData"></app-map>
  </div>
</div>
