.map-container {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.map-frame {
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#map {
  height: 100%;
}


.popupContainer{
  display: flex;
  gap: 20px;  
}
.popupContainer > img{
  width: 64px;
  height: 48px;
  object-fit: cover;
  border-radius: 5px;
}

.popupContainer > .textContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}