<div
  class="flex flex-col pb-4 m-4 overflow-y-auto lg:m-0 lg:flex-row h-full-screen"
>
  <div
    class="flex-none lg:flex-[3] h-max pb-[50px] overflow-y-auto lg:ml-6 pt-4"
  >
    <div class="pr-[50px] flex flex-col gap-[50px]">
      <div class="flex items-center justify-between">
        <h1 class="text-2xl md:text-4xl">User Information</h1>
        <button
          class="px-4 py-3 text-white transition-all duration-300 bg-yellow-500 rounded-sm cursor-pointer hover:bg-yellow-600"
        >
          Update Profile
        </button>
      </div>
      <div class="flex flex-col gap-5">
        <span class="flex items-center gap-5">
          Avatar:
          <img
            src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="avatar"
            loading="lazy"
            class="object-cover w-10 h-10 rounded-full"
          />
        </span>
        <span class="flex items-center gap-5"> Username: <b>John Doe</b> </span>
        <span class="flex items-center gap-5">
          E-mail: <b>john&#64;gmail.com</b>
        </span>
      </div>
      <div class="flex items-center justify-between">
        <h1 class="text-xl font-semibold">My List</h1>
        <button
          class="px-4 py-3 text-white transition-all duration-300 bg-yellow-500 rounded-sm cursor-pointer hover:bg-yellow-600"
        >
          Create New Post
        </button>
      </div>

      @for (item of listData; track $index) {
      <app-property-card [item]="item"></app-property-card>
      }

      <div class="flex items-center justify-between">
        <h1 class="text-xl font-semibold">Saved List</h1>
      </div>

      @for (item of listData; track $index) {
      <app-property-card [item]="item"></app-property-card>
      }
    </div>
  </div>

  <div class="w-full h-max flex-none lg:flex-[2] bg-[#fcf5f3]">
    <div class="h-full px-5 py-0">
      <app-chatlist></app-chatlist>

      <!-- <Chat/> -->
    </div>
  </div>
</div>
