<div class="flex h-full-screen">
  <div class="flex-[3]">
    <div
      class="p-8 py-20 md:pr-[100px] flex flex-col sm:justify-center gap-10 md:gap-14 h-full lg:px-[50px] md:p-0 justify-start"
    >
      <h1 class="text-5xl font-semibold md:text-6xl lg:text-7xl">
        Find Real Estate & Get Your Dream Place
      </h1>
      <p class="text-xs sm:text-base md:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos explicabo
        suscipit cum eius, iure est nulla animi consequatur facilis id pariatur
        fugit quos laudantium temporibus dolor ea repellat provident impedit!
      </p>

      <!-- <SearchBar /> -->
      <app-search-bar></app-search-bar>

      <div
        class="flex flex-col justify-between gap-10 md:gap-0 md:items-center md:flex-row"
      >
        <div class="box">
          <h1 class="text-[32px] lg:text-[36px] font-semibold">16+</h1>
          <h2 class="text-xl font-light">Years of Experience</h2>
        </div>
        <div class="box">
          <h1 class="text-[32px] lg:text-[36px] font-semibold">200</h1>
          <h2 class="text-xl font-light">Award Gained</h2>
        </div>
        <div class="box">
          <h1 class="text-[32px] lg:text-[36px] font-semibold">2000+</h1>
          <h2 class="text-xl font-light">Property Ready</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-[2] bg-[#fcf5f3] relative lg:flex items-center hidden">
    <img
      src="../../../assets/bg.png"
      alt="homeImage"
      loading="lazy"
      class="lg:w-[115%] absolute right-0"
    />
  </div>
</div>
